# LIST

In [1]:
lst=['namrata',20,'cse',12345,'hello']
lst

['namrata', 20, 'cse', 12345, 'hello']

In [2]:
lst.append('heyyyy')
lst

['namrata', 20, 'cse', 12345, 'hello', 'heyyyy']

In [7]:
lst.pop()

'heyyyy'

In [8]:
lst

['namrata', 20, 'cse', 12345, 'hello']

In [10]:
lst.reverse()

In [11]:
lst

['hello', 12345, 'cse', 20, 'namrata']

In [13]:
lst.insert(1,'namaste')

In [14]:
lst

['hello', 'namaste', 12345, 'cse', 20, 'namrata']

In [15]:
lst.clear()

In [16]:
lst

[]

# DICTIONARY

In [17]:
d={"name":"namrata","Age":20,"number":12345,"greeting":"hellooo"}
d

{'Age': 20, 'greeting': 'hellooo', 'name': 'namrata', 'number': 12345}

In [19]:
d.get("name")

'namrata'

In [21]:
d.pop("number")

12345

In [22]:
d

{'Age': 20, 'greeting': 'hellooo', 'name': 'namrata'}

In [23]:
d.popitem()

('greeting', 'hellooo')

In [24]:
d

{'Age': 20, 'name': 'namrata'}

In [25]:
d.values()

dict_values(['namrata', 20])

In [28]:
d.clear()

In [29]:
d

{}

# SET

In [30]:
s1={1,3,5,7,9,3,5,2,4,6,8,10}
s2={1,3,5,7,9}

In [31]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [32]:
s2

{1, 3, 5, 7, 9}

In [33]:
s2.issubset(s1)

True

In [34]:
s1.difference(s2)

{2, 4, 6, 8, 10}

In [35]:
s1.intersection(s2)

{1, 3, 5, 7, 9}

In [36]:
s1.isdisjoint(s2)

False

In [37]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [38]:
s1.remove(4)
s1

{1, 2, 3, 5, 6, 7, 8, 9, 10}

# TUPLE

In [39]:
tup=('namrata',20,12345,'cse','helloooo')
tup

('namrata', 20, 12345, 'cse', 'helloooo')

In [40]:
tup[3]

'cse'

In [41]:
tup[-3]

12345

In [42]:
tup.count(20)

1

In [44]:
tup.index('helloooo')

4

In [45]:
tup[1:3]

(20, 12345)

In [46]:
del tup

In [47]:
tup #tuple is deleted

NameError: name 'tup' is not defined

# STRING

In [48]:
strng= "hello namaste vanakkam"
strng

'hello namaste vanakkam'

In [49]:
strng.capitalize()

'Hello namaste vanakkam'

In [52]:
strng.upper()

'HELLO NAMASTE VANAKKAM'

In [53]:
strng.isdigit()

False

In [54]:
strng.isprintable()

True

In [55]:
strng.lstrip()

'hello namaste vanakkam'

In [57]:
strng.strip("hello")

' namaste vanakkam'